<!-- Nav -->
<nav id="nav">
    <ul>
        <li style=""><img src = "./images/WelyLogo.svg"></li>
        <li style="white-space: nowrap;"><a href="/invest">Invest</a></li>
        <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
            <a href="/#">Solutions</a>
            
        <ul class="" style="user-select: none; display: none; position: absolute;">
                <li style="white-space: nowrap;"><a href="/#" style="display: block;">Cut Flowers</a></li>
                <li style="white-space: nowrap;"><a href="/#" style="display: block;">Transplants</a></li>
                <li style="white-space: nowrap;"><a href="/#" style="display: block;">Potted Plants</a></li>
                <li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
                    <a href="/#" style="display: block;">Devices</a>
                    <ul class="dropotron" style="user-select: none; display: none; position: absolute;">
                        <li style="white-space: nowrap;"><a href="/#" style="display: block;">4 Kg hardwood</a></li>
                        <li style="white-space: nowrap;"><a href="/#" style="display: block;">50 Kg hardwood</a></li>
                        <li style="white-space: nowrap;"><a href="/#" style="display: block;">Waterproof</a></li>
                        <li style="white-space: nowrap;"><a href="/#" style="display: block;">Seedling Tray</a></li>
                    </ul>
                </li>
            </ul></li>
        <li style="white-space: nowrap;"><a href="/no-sidebar.html">Making</a></li>
        <li style="white-space: nowrap;"><a href="/login/">App</a></li>
        <li style="white-space: nowrap;"><a href="/signup/">Sign Up</a></li>
    </ul>
</nav>

</div>