<!-- Nav -->
<nav id="nav">
    <ul>
        <li ><a href = "/"><img src = "./images/WelyLogo.svg"></a></li>
        <li ><a href="/invest">Invest</a></li>
        <li class="opener">
            <a href="/solutions">Solutions</a>

            <ul>
                <li ><a href="/solutions/#start"><h3>Start</h3></a>
                    <ul>
                        <li><a href="/solutions/#startdisease"><h3>Prevent disease</h3> <span>Say goodbye to damping-off</span></li>
                        <li><a href="/solutions/#startgerminate"><h3>Germinate with success</h3><span>Avoid dry-out</span></li>
                        <li><a href="/solutions/#startschedule"><h3>Keep your schedule</h3><span>Strive for consistency</span></li>
                    </ul>
                </li>

                <li ><a href="/solutions/#grow"><h3>Grow</h3></a>
                    <ul>
                        <li><a href="/solutions/#grownutrition"><h3>Nurture with nutrition</h3> <span>Deliver minerals properly</span></li>
                        <li><a href="/solutions/#growworkload"><h3>Reduce workload</h3><span>No unnecessary watering</span></li>
                        <li><a href="/solutions/#growyield"><h3>Increase yield</h3><span>Use controlled drought</span></li>
                    </ul>
                </li>

                <li ><a href="/solutions/#display"><h3>Display</h3> </a>
                    <ul>
                        <li><a href="/solutions/#displayshelf"><h3>Extend shelf life</h3> <span>Sense stem blockage</span></li>
                        <li><a href="/solutions/#displaydead"><h3>No dead flowers</h3><span>Remove displays on time</span></li>
                        <li><a href="/solutions/#displaydrop"><h3>Avoid flower drop</h3><span>Organize your orchids</span></li>
                    </ul>
                </li>

            </ul>
            
        </li>
        <li><a href="/no-sidebar.html">Making</a></li>
        <li><a href="/login/">App</a></li>
        <li><a href="/signup/">Sign Up</a></li>
    </ul>
</nav>