<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Invest in Wely</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="splash/css/main.css" />
		<noscript><link rel="stylesheet" href="splash/css/noscript.css" /></noscript>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<%- include('partials/navSplash') -%>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							
								<header>
									<h2><a href="#">Make the Future</a></h2>
									<p>
										Help The Wely Device bloom.
									</p>
								</header>
								<a href="#" class="image featured"><img src="/images/IMG_2474bloom.jpeg" alt="" /></a>
								<p>
									Prototypes are done. Models have been tested by the City of Singapore, at a UBC greenhouse,
									in commercial plant production, in homes and in the lab. 
								</p>
								<p>
									Now it's time for the next stage. Will you be part of it?
								</p>
							
							<section>
								<header>
									<h3>Searching for passion</h3>
								</header>
								<p>
									Do you have a passion for business, technology and plants? Internet of Things? Food security?
								</p>
								<p>
									The team behind The Wely Device want to hear from you. We share a mission. Let's do it together.
								</p>
							</section>
						</article>
						<hr />
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/IMG_8414TOP.jpeg" alt="" /></a>
								<header>
									<h3><a href="#">
										Plants
									</a></h3>
								</header>
								<p>
									Do you have a passion for gardening, agriculture or plant science? Help the world reach for excellence using lysimetry.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/f0393408crop.jpeg" alt="" /></a>
								<header>
									<h3><a href="#">Technology</a></h3>
								</header>
								<p>
									Get excited about bringing something new into the world! Microcontrollers and sensors are better and more available than ever. Now is the time.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="images/adventureCat.jpeg" alt="Adventure Cat Photo by Trish Hamme, free for commercial use" /></a>
								<header>
									<h3><a href="#">Adventure</a></h3>
								</header>
								<p>
									Are you an experienced entrepreneur that loves it? Or someone who wants to get into business and is looking for an opportunity?
								</p>
							</article>
						</div>
					</div>
				<section>
					<header>
						<h3>Reach out</h3>
					</header>
					<p>
						Serious enquires only please. Email the Wely Team.
					</p>

				</section>
				</div>

			<!-- Footer -->
			<%- include('partials/footerSplash') -%>

		<!-- Scripts -->
			<script src="splash/js/jquery.min.js"></script>
			<script src="splash/js/jquery.dropotron.min.js"></script>
			<script src="splash/js/jquery.scrolly.min.js"></script>
			<script src="splash/js/jquery.scrollex.min.js"></script>
			<script src="splash/js/browser.min.js"></script>
			<script src="splash/js/breakpoints.min.js"></script>
			<script src="splash/js/util.js"></script>
			<script src="splash/js/main.js"></script>

	</body>
</html>