<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Invest in Wely</title>
		<%-include('partials/headSplash') -%>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<%- include('partials/navSplash') -%>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							
							<header>
								<h2><a href="#">Make the Future</a></h2>
								<p>
									Help The Wely Device bloom.
								</p>
							</header>
							<a href="#" class="image featured"><img src="/images/IMG_2474bloom.jpeg" alt="" /></a>
							<p class = "big">
								Prototypes are done. Models have been tested by the City of Singapore, at a UBC greenhouse,
								in commercial plant production, in homes and in the lab. 
							</p>
							<p class = "big">
								Now it's time for the next stage. Will you be part of it?
							</p>
							
						</article>

						<hr />
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<img class="image featured" src="images/IMG_8414TOP.jpeg" alt="" />
								<header>
									<h3>
										Plants
									</h3>
								</header>
								<p>
									Do you have a passion for gardening, agriculture or plant science? Help the world reach for excellence using lysimetry.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<img class="image featured" src="images/f0393408crop.jpeg" alt="" />
								<header>
									<h3>Technology</h3>
								</header>
								<p>
									Get excited about bringing something new into the world! Microcontrollers and sensors are better and more available than ever. Now is the time.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<img class="image featured" src="images/adventureCat.jpeg" alt="Adventure Cat Photo by Trish Hamme, free for commercial use" />
								<header>
									<h3>Adventure</h3>
								</header>
								<p>
									Are you an experienced entrepreneur that loves it? Or someone who wants to get into business and is looking for an opportunity?
								</p>
							</article>
						</div>
					</div>

				<hr />
					<article class="special">
							
						<header>
							<h2><a href="#contact">Contact Us</a></h2>
							<p>
								Reach out and help build the future.
							</p>
						</header>
					</section>
				</article>
				
			</div>

			<!-- Footer -->
			<%- include('partials/footerSplash') -%>

		<!-- Scripts -->
			<script src="splash/js/jquery.min.js"></script>
			<script src="splash/js/jquery.dropotron.min.js"></script>
			<script src="splash/js/jquery.scrolly.min.js"></script>
			<script src="splash/js/jquery.scrollex.min.js"></script>
			<script src="splash/js/browser.min.js"></script>
			<script src="splash/js/breakpoints.min.js"></script>
			<script src="splash/js/util.js"></script>
			<script src="splash/js/main.js"></script>

	</body>
</html>