<!DOCTYPE HTML>
<!--
	splash by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Solutions - By The Wely Device</title>
		<%-include('partials/headSplash') -%>
	</head>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
                    <%- include('partials/navSplash') -%>
                </div>

            <!-- Inner -->
                <div class="wrapper style1">
                    <div class = "container">
                        <article id="main" class="special">
                            <header>
                                <h2>Use data to better start, grow and display plants.</h2>
                            </header>
                            <footer>
                                <a href="#banner" class="button circled scrolly">How?</a>
                            </footer>
                        </article>
                    </div>
                </div>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Plants are quiet. <strong>Hear them with data</strong>.</h2>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel" style="overflow: visible; transform: translate(0px, 0px);">

						<article class="">
							<a href="#start" class="image featured"><img src="startLogo" alt=""></a>
							<header>
								<h3><a href="#start">Start</a></h3>
							</header>
							<p>Prevent disease. Germinate. Keep on schedule.</p>
						</article>

						<article class="">
							<a href="#grow" class="image featured"><img src="GrowLogo" alt=""></a>
							<header>
								<h3><a href="#grow">Grow</h3>
							</header>
							<p>Nurture. Reduce workload. Increase yield.</p>
						</article>

						<article class="">
							<a href="#display" class="image featured"><img src="displayLogo" alt=""></a>
							<header>
								<h3><a href="#display">Display</a></h3>
							</header>
							<p>Show off your plants. Extend shelf life. Avoid dead flowers. Delay flower drop.</p>
						</article>
					</div>
				<span class="forward" style=""></span><span class="backward" style=""></span></section>

			<!-- Main -->
				<div class="wrapper style2" id = "start">
                    <h1>Start</h1>
                    <p>Water seedlings with precision using sensitive sensors.</p>
					<article id="startdisease" class="container special">
						<img src="dampingOff" alt="">
						<header>
							<h2>Prevent disease.</h2>
							<p>
								Overwatering leads to disease.
							</p>
						</header>
						<p>
							Most potting mixes contain fresh plant material and are prone to fungal growth. 
                            When watering is controlled this isn't a problem. 
                            Overwatering can kill plants by encouraging that fungal population to get out of control and 
                            attack the stem of young plants. This common problem, called "damping-off" is avoided with precision watering.
						</p>
					</article>
                    <article id="startdisease" class="container special">
						<img src="germinate" alt="">
						<header>
							<h2>Germinate</h2>
							<p>
								Under watering delays germination.
							</p>
						</header>
						<p>
                            When a seed is germinating it takes in water and begins to grow. The plant is jumping in and taking a risk! 
                            If it faces dry conditions before it has a root to collect water with then it will be in danger. 
						</p>
					</article>

                    <article id="startdisease" class="container special">
						<img src="clock" alt="">
						<header>
							<h2>Keep your schedule</h2>
							<p>
								Germinate quickly without risk.
							</p>
						</header>
						<p>
                            Warming seedling is a common technique to speed germination and make it more reliable. 
                            However, that quickly dries out the potting media and creates a risk of seedling death from dehydration.
                            Mitigate risk and keep your speedy germination by keeping a close (electronic!) eye on germinating seeds.
						</p>
					</article>

				</div>
                <div class="wrapper style2" id = "grow">
                    <h1>Grow</h1>
                    <p>Grow your plants big and strong.</p>
					<article id="grownutrition" class="container special">
						<img src="healthyplant" alt="">
						<header>
							<h2>Nurture with nutrition.</h2>
							<p>
								Water transports nutrients from the soil. Good water supply allows reliable nutrient transport.
							</p>
						</header>
						<p>
                            Plants transport nutrients like nitrogen, calcium and magnesium into their roots and up to the top of the plant. 
                            Whether you use hydroponics or an organic system a reliable nutrient supply is important. Water is the central carrier. 
                            This is where the old farmer idiom comes from: "Water is the best fertilizer".
                        </p>
					</article>
                    <article id="growworkload" class="container special">
						<img src="personworkingHard" alt="">
						<header>
							<h2>Reduce your workload</h2>
							<p>
								Adapt and plan with a remote view of your plants.
							</p>
						</header>
						<p>
                            Conditions change. Checking on your plants frequently is important. But over-checking wastes time.
                            Avoid over-checking by knowing when it's time to pay attention to your little green friends. 
                            Wely can send you a reminder when your plants get dry or even be used to predict the next time you need to check on your plants.
						</p>
					</article>

                    <article id="growYield" class="container special">
						<img src="yield chart?" alt="">
						<header>
							<h2>Increase yield</h2>
							<p>
								Many yields increase when a plant faces the stress of controlled drought.
							</p>
						</header>
						<p>
                            Plants are often produced for their chemical contents. Those special, valueable, compounds are usually made
                            at the end of the life of the plant and are called "secondary metabolites". The amount of material produced can be 
                            increased by using a controlled drought. For example, THC yield from cannabis can be increased by 43% (by area)
                            <a href = "https://journals.ashs.org/hortsci/view/journals/hortsci/54/5/article-p964.xml?ArticleBodyColorStyles=pdf-4377"> just by controlling watering.</a>

						</p>
					</article>

				</div>

                <div class="wrapper style2" id = "grow">
                    <h1>Display</h1>
                    <p>Put your best flower forward.</p>
					<article id="displayshelf" class="container special">
						<img src="cutFlowers" alt="">
						<header>
							<h2>Keep cut flowers fresh</h2>
							<p>
								Cut flowers droop from dehydration.
                            </p>
						</header>
						<p>
                            The end of the life of cut flowers normally comes from stems being blocked. That happens when bacteria or air enters the stems.
                            Cutting the stems can extend shelf life. But how do you know when that's needed? If you run a business that's too busy to check on your cut flowers, Wely can do it for you.
                            When stems get blocked and need to be re-cut water use rate will drop. The Wely Device will notice!
                        </p>
					</article>
                    <article id="displaydead" class="container special">
						<img src="deadflowers?" alt="">
						<header>
							<h2>Remove flowers when they are done.</h2>
							<p>
								Cut flowers don't last forever. Don't display ones past their prime.
							</p>
						</header>
						<p>
                            Cut flowers will slow then stop their water use when they are past their prime. 
                            Instead of changing them out on an inflexible schedule, listen to the plants and remove them only when they are truly done.    
                            Get a remote signal that shows when the display is finished so you don't have to worry about displaying unsightly plants.
                        </p>
					</article>

                    <article id="displaydrop" class="container special">
						<img src="orchid" alt="">
						<header>
							<h2>Keep living plants flowering</h2>
							<p>
								Plants often drop their flowers as a response to drought.
							</p>
						</header>
						<p>
                           A moth orchid can keep its flowers for 8 months if it is well watered. It will lose them in weeks if it dehydrates.
                           Keep your display plants healthy and beautiful by watering them with precision. 
                           Well cared for plants will often be back for another round of flowering later! 
                           Peace lillies like to be wet. Roses use a lot of water. Orchids hate drying out. Cacti get root rot if they are kept wet.
                           Whatever your plants need, Wely can help.
						</p>
					</article>

				</div>

			<!-- Features -->
            other - monitor fermentations. Watch your milk jug.
			<!-- Footer -->
			<%- include('partials/footerSplash') -%>


		<!-- Scripts -->
			<script src="splash/js/jquery.min.js"></script>
			<script src="splash/js/jquery.dropotron.min.js"></script>
			<script src="splash/js/jquery.scrolly.min.js"></script>
			<script src="splash/js/jquery.scrollex.min.js"></script>
			<script src="splash/js/browser.min.js"></script>
			<script src="splash/js/breakpoints.min.js"></script>
			<script src="splash/js/util.js"></script>
			<script src="splash/js/main.js"></script>
			<script src="splash/js/socialMedUpdate.js"></script>

	</body>
</html>