<!DOCTYPE HTML>
<!--
	splash by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>The Wely Device</title>
		<%-include('partials/headSplash') -%>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="/index.html" id="logo">The Wely Device</a></h1>
								<hr>
								<h2>Water your plants with confidence.</h2>
							</header>
							<footer>
								<a href="/#banner" class="button circled scrolly">Find Out</a>
							</footer>
						</div>

			<%- include('partials/navSplash') -%>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Hi. Want to grow some <strong>plants?</strong>.</h2>
						<p>
							<a href="/about/">The Wely Device</a> shows you their hydration status
							by telling you the weight of your plants.
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel" style="overflow: visible; transform: translate(0px, 0px);">

						<article class="">
							<a href="/#" class="image featured"><img src="./images/SeedlingTray.jpg" alt="">Two-sensor model</a>
							<header>
								<h3><a href="/#Seedlings">For Seedlings.</a></h3>
							</header>
							<p>Two sensors give a wider platform for monitoring a standard seedling tray.</p>
						</article>

						<article class="">
							<a href="/#" class="image featured"><img src="./images/GraySmall.jpg" alt="">Waterproof housing</a>
							<header>
								<h3><a href="/#Greenhouse">For commercial production.</a></h3>
							</header>
							<p>Monitor irrigation flow in a commercial setting.</p>
						</article>

						<article class="">
							<a href="/#" class="image featured"><img src="./images/f1735680.jpg" alt="">4kg max</a>
							<header>
								<h3><a href="/#Small">For Small to Medium Plants.</a></h3>
							</header>
							<p>A sensitive sensor for sensitive plants.</p>
						</article>

						<article class="">
							<a href="/#" class="image featured"><img src="./images/IMG_2502.JPG" alt="">12 kg max</a>
							<header>
								<h3><a href="/#Large">For large plants.</a></h3>
							</header>
							<p>Sensitive enough for orchids, strong enough for ficus. </p>
						</article>

			

					</div>
				<span class="forward" style=""></span><span class="backward" style=""></span></section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="/#" class="image featured"><img src="./splash by HTML5 UP_files/pic06.jpg" alt=""></a>
						<header>
							<h2><a href="/#"></a></h2>
							<p>
								Discover what is happening with your plants - from wherever you are.
							</p>
						</header>
						<p>
							Keep your plants healthy by giving them what they need. Avoid disease and damage from dehydration. The Wely lets you do this
							with an organic-friendly technique - controlling the water supply. 
						</p>
						<footer>
							<a href="/generalDetails/" class="button">Continue Reading</a>
						</footer>
					</article>

				</div>

			<!-- Features -->
				<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							<h2>Discover Precision</h2>
							<p>Remove the guesswork from watering.</p>
						</header>
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<header>
									<span class="icon solid fa-clipboard circled "></span>
									<h3><a href="/#">Automatically record events</a></h3>
								</header>
								<p>
									Hands-off record generation for meeting regulation requirements and discovering malfunctions early.
									Record the watering events and lights on/off.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<header>
									<span class="icon solid fa-bullseye circled "></span>
									<h3><a href="/#">Calibrate your irrigation</a></h3>
								</header>
								<p>
									Data can be passed to an automatic irrigation system, or reviewed by a person doing the watering.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<header>
									<span class="icon solid fa-walking circled "></span>
									<h3><a href="/#">Reduce your workload</a></h3>
								</header>
								<p>
									Check to see if your plants even need water before going to work. Skip unnecessary waterings.
								</p>
							</article>
						</div>
					</section>

				</div>

			<!-- Footer -->
			<%- include('partials/footerSplash') -%>


		<!-- Scripts -->
			<script src="splash/js/jquery.min.js"></script>
			<script src="splash/js/jquery.dropotron.min.js"></script>
			<script src="splash/js/jquery.scrolly.min.js"></script>
			<script src="splash/js/jquery.scrollex.min.js"></script>
			<script src="splash/js/browser.min.js"></script>
			<script src="splash/js/breakpoints.min.js"></script>
			<script src="splash/js/util.js"></script>
			<script src="splash/js/main.js"></script>
			<script src="splash/js/socialMedUpdate.js"></script>

	</body>
</html>