/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
	max-width: 1500px;
	margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
